<launch>

<node name="camera" pkg="robot_pkg" type="camera_process.py" output="screen">
</node>

<node name="arduino_1" pkg="rosserial_arduino" type="serial_node.py">
<param name="port" type="string" value="/dev/ttyACM0"/>
</node>

<node name="arduino_2" pkg="rosserial_arduino" type="serial_node.py">
<param name="port" type="string" value="/dev/ttyACM1"/>
</node>

</launch>
